= content_for :head do
  - if @album.primary_photograph
    :css
      @media (max-width: 333px) {
        .primary-photograph {
          background-image: url(#{@album.primary_photograph.image.url(:small)});
        }
      }
      @media (max-width: 667px) {
        .primary-photograph {
          background-image: url(#{@album.primary_photograph.image.url(:medium)});
        }
      }
      @media (min-width: 668px) {
        .primary-photograph {
          background-image: url(#{@album.primary_photograph.image.url(:large)});
        }
      }

%section.primary-photograph

%section.gallery
  .container
    %h1.red.with-underline= @album.title
    - @album.photographs.each do |photograph|
      = image_tag(photograph.image.url(:square_150), class: 'thumbnail')

- unless @album.description.blank?
  %section.description
    .container
      = @album.description

- unless @

