%section.site-title.header-photograph
  .title
    =image_tag('logo_large.png', alt: 'Audrey Penven', class: 'site-logo')

%section.portfolio
  %div
    %h2.red.with-underline Projects
    / {% photo_page_link_tag dancing-with-invisible-light %}
    / {% photo_page_link_tag six %}

  %div
    %h2.red.with-underline Collections
    / {% photo_page_link_tag music %}
    / {% photo_page_link_tag portraits %}
    / {% photo_page_link_tag hubba-hubba-revue %}

%section.photo-stream
  %div
    %h2.black.with-underline Full Photo Archive
    %div
      - @albums.each do |album|
        .stream-album-link.album-link
          = image_tag(album.primary_photograph.image.url(:square_150), alt: "@album.title")
          = link_to album_path(album) do
            %h5.album-title= album.title

%section.contact
  %div
    .image-with-caption.pull-left.bio-photo
      = image_tag('me-by-nadya-400x400.jpg', class: 'black-border')
      %p
        photo by
        = link_to 'Nadya Lev', 'http://www.nadyalevphoto.com/'

    %h2.red Me, elsewhere
    %table.find-elsewhere
      %tr
        %td
          = fa_icon 'envelope fw'
          email
        %td
          %a{href: 'mailto:audrey@audreypenven.net'}
            audrey@audreypenven.net
      %tr
        %td
          = fa_icon 'twitter fw'
          twitter
        %td
          %a{href: 'http://www.twitter.com/yerdua'}
            @yerdua
      %tr
        %td
          = fa_icon 'flickr fw'
          flickr
        %td
          %a{href: 'https://www.flickr.com/photos/audreypenven/'}
            flickr.com/photos/audreypenven
      %tr
        %td
          = fa_icon 'instagram fw'
          instagram
        %td
          %a{href: 'http://instagram.com/y3rdua'}
            @y3rdua
      %tr
        %td
          = fa_icon 'github fw'
          github
        %td
          %a{href: 'https://github.com/yerdua'}
            github.com/yerdua