!!! HTML

%html
  %head
    %title Audrey Penven
    = csrf_meta_tags

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = yield :head
    - if @header_image
      :css
        @media (max-width: 333px) {
          .header-photograph {
            background-image: url("#{@header_image.image.url(:small)}");
          }
        }
        @media (max-width: 667px) {
          .header-photograph {
            background-image: url("#{@header_image.image.url(:medium)}");
          }
        }
        @media (min-width: 668px) {
          .header-photograph {
            background-image: url("#{@header_image.image.url(:large)}");
          }
        }

  %body{class: "#{controller_name}-#{action_name} #{@body_class}"}
    = render 'shared/header'
    .wrapper
      .page-content= yield
      = render 'shared/footer'
